/* FONTS */
html, body{
	font-family: "Arial", sans-serif;
	font-size:13px;
	background-color:#ccc;
}

/* PRIMARY COLOURS */
.white{color:#FFFFFF;}
.black{color:#000000;}
.black.background{background-color:#000000 !important; color:white;}
.black.background *{color:white;}
.red{color:#E4002B;}
.red.background{background-color:#E4002B !important; color:white;}
.red.background *{color:white;}
.dark.grey{color:#686B6B;}
.dark.grey.background{background-color:#686B6B !important; color:white;}
.dark.grey.background *{color:white;}

/* SECONDARY COLOURS */
.grey{color:#A7A8AA;}
.light.blue{color:#9BD3DD;}
.blue{color:#0093B2;}
.dark.blue{color:#003865;}

/* ACCENT COLOURS */
.dark.red{color:#A6192E;}
.lime{color:#B5BD00;}
.orange{color:#FF671F;}

/* TEXT */
h1.ui.header{
	margin-bottom:30px;
	text-transform:uppercase;
	text-align:center;
	font-size:33px !important;
	font-weight:100 !important;
}

/* REDS */
.ui.grid>.red.column, .ui.grid>.red.row, .ui.grid>.row>.red.column{
	background-color:#E4002B !important;
}
.ui.grid .column a{
	color:#000000;
	color:rgba(0, 0, 0, .87);
}
	.ui.grid .column a:hover{
		color:#A6192E;
	}

.grey.background{
	background-color:#e5e5e5;
	padding:15px;
}

/* CALL TO ACTION */
.ui .button{
	background: #E4002B;
	color:white !important;
}
	.ui .button:hover{
		background: #A6192E;
		color:white;
	}

/* GRID WORK */
.grid{
	background-color:white;
}
.ui.grid>.column.unpadded:not(.row), .ui.grid>.row>.column.unpadded{
	padding-left: 1px !important;
	padding-right: 0rem !important;
}
.ui.grid>.column.unpadded:not(.row){
	padding-bottom:0rem !important;
}

/* MODULES */
.below{
	padding-top:20px !important;
	padding-bottom:30px !important;
}
	.below:not(.unpadded) .module{
		padding-top:100px !important;
		padding-bottom:100px !important;
	}

.module{
	text-align:center;
}
	.module 
	.custom.module{
		padding:50px 0 50px 0 !important;
	}

#top{
	padding-top:8px;
}

#logo{
	height:90px;
	background-color:green;
}

/* SERVICES */
.ui.service.segment{
	border-radius:0px;
	margin:0 auto;
	padding:30px 0 30px 0px;
	min-height:160px;
	color:black;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	padding:8px;
}
	.service img{
		display:inline-block !important;
	}
	.service .info{
		margin-top:15px;
		font-size:12px;
	}
	.service.segment.a{padding-top:25px;}
	.service.segment.b{padding-top:55px;}
	.service.segment.c{padding-top:45px;}
	.service.segment.d{padding-top:45px;}
	.service.segment.e{padding-top:30px;}
	.service.segment.f{padding-top:30px;}
	.service.segment.g{padding-top:35px;}
	.service.segment.h{padding-top:35px;}

/* SLIDER */
#slider{

}
	#slider .ui.image{
		width:100%;
	}


/* MENU */
#menu{
 
}
	#menu a{
		color:black;
	}
	#menu a:hover{
		color:#A6192E;
	}

/* MOBILE MENU */
#sidebarButton{
	float:right;
}

/* CONTACT FORM */
.ui.query.form input{
	max-width:300px;
}

/* FOOTER */
#footer *, #copyright *{
	color:rgba(255,255,255,0.5) !important;
}
#footer i.big.icon{
	line-height: 1;
	font-size: 3em;
}
#copyright{
	text-transform:uppercase;
	font-size:10px;
}
#me{
	font-size:10px;
	background-color:#ccc;
}
	#me *{
		color:#333;
	}
	#me.ui.grid>.column:not(.row){
		padding-top:0.3rem !important;
	}
	#me.ui.grid>.column:not(.row){
		padding-left:0.3rem !important;
		padding-right:0.3rem !important;
	}